<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Email Templates by Hanna extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Email Templates by Hanna.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDF17AE42BA5EFC500519389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDF17AF52BA5EFC800519389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDF17AFF2BA5EFC800519389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDF17B162BA5F04D00519389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
